<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View</title>
</head>
<body>
<form method="get" action="{%url 'app:Search' %}">
    {%csrf_token%}
    <input type="text" name="name">
    <input type="submit" value="전적갱신">
</form>
<form method="get" action="{%url 'app:view' %}">
    {%csrf_token%}
    <input type="text" name="name">
    <input type="submit" value="검색">
</form>

    닉 네 임 : {{db.name}}<br>
    팀    랭 : {{db.team_tier}} {{db.team_rank}} | {{db.team_point}}<br>
    팀랭승률 : WIN = {{db.team_win}} LOSS={{db.team_loss}}<br>
    솔    랭 : {{db.solo_tier}} {{i.solo_rank}} | {{db.solo_point}}<br>
    솔랭승률 : WIN = {{db.solo_win}} LOSS={{db.solo_loss}}<br>


</body>
</html>